<?xml version="1.0"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-App_Mundial_Miles-20170502034810.mdf;Initial Catalog=aspnet-App_Mundial_Miles-20170502034810;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- Produccion PPM  -->
    <!--<add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=V1791219058001_SAFI_3;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Pruebas PPM -->
    <!--<add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18\SQL2017;initial catalog=VElectronicos_V1791219058001_SAFI_3;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18\SQL2017;initial catalog=SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--Produccion ConsultAtlantis-->
    <!--
    <add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=V1792686695001_SAFI_9;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Pruebas para ConsultAtlantis-->
    <add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18\SQL2017;initial catalog=VElectronicos_V1792686695001_SAFI_9;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=VElectronicos_SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!-- Produccion para PAYONLINE-->
    <!--<add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=V1792975638001_SAFI_11;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.87;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=VElectronicos_SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- Pruebas para PAYONLINE-->
    <!--<add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18\SQL2017;initial catalog=VElectronicos_V1792975638001_SAFI_11;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=VElectronicos_SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="default" xsi:type="File" layout="------------------------------------------- ${level} (${longdate}) -------------------------------------------${newline} Call Site: ${callsite}${newline} Exception Type: ${exception:format=Type}${newline} Exception Message: ${exception:format=Message}${newline} Stack Trace: ${exception:format=StackTrace}${newline} Additional Info: ${message}${newline}" fileName="${basedir}/LOGS/switch-multicanal-log-${shortdate}.log" archiveFileName="${basedir}/LOGS/archive/app-log.{#}.log" archiveEvery="Day" archiveNumbering="Rolling" deleteOldFileOnstartup="false" archiveAboveSize="10240" maxArchiveFiles="31"/>
    </targets>
    <!--<target name="sendMail"
        xsi:type="Mail"
        smtpServer="smtp.gmail.com"
        smtpPort="587"
        smtpUserName="atissistemas@gmail.com"
        smtpPassword="atissistemas2019"
        subject="${machinename} - My subject string (${shortdate:format=dd. MM. yyyy})"
        from="atissistemas@gmail.com"
        to="yean.proano@atiscode.com"
        layout="${longdate}   LEVEL=${uppercase:${level}},   LOCATION=${callsite:className=true:includeSourcePath=true:methodName=true},               
                  MESSAGE=${message}${newline} EXCEPTION=${exception:format=tostring,StackTrace}${newline}" />-->
    <rules>
      <logger name="*" writeTo="default"/>
      <!-- local file logger -->
    </rules>
  </nlog>
  <appSettings configSource="ParametrizacionAplicacion.config"/>
  <!--<appSettings>
    <add key="nombreAplicacion" value="VIAJES Facturacion Prueba" />
    <add key="canal" value="VIAJES" />
    <add key="tipoAmbiente" value="PRODUCCION" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="uri" value="https://integracionapi.contifico.com/" />
    <add key="ccrequestPath" value="sistema/api/v1/contabilidad/centro-costo/?tipo=T" />
    <add key="apiAuthorization" value="FrguR1kDpFHaXHLQwplZ2CwTX3p8p9XHVTnukL98V5U" />
    <add key="ctrequestPath" value="sistema/api/v1/contabilidad/cuenta-contable/?tipo=C" />
    <add key="uripost" value=" https://integracionapi.contifico.com/sistema/api/v1/contabilidad/asiento/" />
    <add key="RepositorioDocumentos" value="D:\PUBLIC\REPOSITORIOS" />
    <add key="iva" value="12" />
    <add key="ambiente" value="1" />
    <add key="estab" value="001" />
    <add key="ptoEmi" value="018" />
    <add key="razonSocial" value="PUBLIPROMUEVE S.A." />
    <add key="ruc" value="1791219058001" />
    <add key="dirMatriz" value="GUIPUZCOA Y MALLORCA" />
    <add key="segmento" value="VIAJES" />
    <add key="codProducto" value="PV000001" />
    <add key="nombProducto" value="VIAJES" />
    <add key="UGE" value="02014" />
    <add key="CategoriaCliente" value="CLIENTES VIAJES" />
    <add key="CuentaContable" value="1.1.02.001.009" />
    <add key="GrupoCredito" value="1" />
    <add key="TributaImpuesto" value="SI" />
    <add key="DocumentoElectronico" value="NO" />
    <add key="Relacionado" value="NO" />
    <add key="VendedorSeccion" value="00000" />
    <add key="ListaPrecioContado" value="LISTA ECUADOR" />
    <add key="ListaPrecioCredito" value="LISTA ECUADOR" />
    <add key="LimiteCredito" value="10000" />
    <add key="Bodega" value="04" />
    <add key="Status" value="Buena" />
    <add key="Contribuyente" value="P.NATURAL NO CONTABILIDAD" />
    <add key="Telefono" value="3956060" />
    <add key="apiBaseUri" value="Http://172.16.36.84:8081/safitoken" />
    <add key="apiCostumerUri" value="Http://172.16.36.84:8082/api/migration" />
    <add key="apiSalesUri" value="Http://172.16.36.84:8083/api/sri/factura" />
  </appSettings>-->
  <system.web>
    <authentication mode="None"/>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <sessionState mode="InProc" timeout="525600"/>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 9BB18449-34A9-4491-85FE-9D9CEC390CA0-->