<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="uri" value="https://integracionapi.contifico.com/" />
  <add key="ccrequestPath" value="sistema/api/v1/contabilidad/centro-costo/?tipo=T" />
  <add key="apiAuthorization" value="FrguR1kDpFHaXHLQwplZ2CwTX3p8p9XHVTnukL98V5U" />
  <add key="ctrequestPath" value="sistema/api/v1/contabilidad/cuenta-contable/?tipo=C" />
  <add key="uripost" value=" https://integracionapi.contifico.com/sistema/api/v1/contabilidad/asiento/" />
  <add key="RepositorioDocumentos" value="D:\PUBLIC\REPOSITORIOS" />
  <!--<add key="iva" value="12" />
  <add key="ambiente" value="2" />
  <add key="estab" value="001" />
  <add key="ptoEmi" value="018" />
  <add key="razonSocial" value="PUBLIPROMUEVE S.A." />
  <add key="ruc" value="1791219058001" />
  <add key="dirMatriz" value="GUIPUZCOA Y MALLORCA" />
  <add key="segmento" value="VIAJES" />
  <add key="codProducto" value="PV000001" />
  <add key="nombProducto" value="VIAJES" />
  <add key="UGE" value="02014" />-->
  <connectionStrings>
    <!--produccion-->
    <!--pruebas-->
    <!--<add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.84;initial catalog=VElectronicos_V1791219058001_SAFI_3;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.68;initial catalog=PubliPro;user id=Applicorp;password=Applicont2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SafiEntities" connectionString="metadata=res://*/Model.db_Safi.Model.csdl|res://*/Model.db_Safi.Model.ssdl|res://*/Model.db_Safi.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=V1791219058001_SAFI_3;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SwitchAtiscodeEntities" connectionString="metadata=res://*/Model.db_Local.IntegrationModel.csdl|res://*/Model.db_Local.IntegrationModel.ssdl|res://*/Model.db_Local.IntegrationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppEntities" connectionString="metadata=res://*/Model.db_Aplicont.AppModel.csdl|res://*/Model.db_Aplicont.AppModel.ssdl|res://*/Model.db_Aplicont.AppModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.36.18;initial catalog=SwitchAtiscode;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SafiBDDParametrosEntities" connectionString="metadata=res://*/Model.db_SafiParametros.ModeloSafiBDParametros.csdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.ssdl|res://*/Model.db_SafiParametros.ModeloSafiBDParametros.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.19.3.84;initial catalog=VElectronicos_SafiBDDParametros;user id=sa;password=saSql;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>